<app-header></app-header>

<mat-toolbar class="bloco_produtos">  
    <main>
        <img src="/assets/produto1.jpg" class="img_bloco_produtos">
        <p class="bloco_produtos_text1">Produto XYZ</p>
        <p class="bloco_produtos_text2"><strong>R$ 60,00</strong></p>
        <div class="bloco_produtos_text3">Texto de descrição do produto XYZ. Texto de descrição do produto XYZ. <br>Texto de descrição do produto XYZ. Texto de descrição do produto XYZ. <br>Texto de descrição do produto XYZ. Texto de descrição do produto XYZ.<br> Texto de descrição do produto XYZ. Texto de descrição do produto XYZ. <br>Texto de descrição do produto XYZ. Texto de descrição do produto XYZ. <br>Texto de descrição do produto XYZ. Texto de descrição do produto XYZ.
        </div>                
    </main>
</mat-toolbar>


<mat-toolbar class="bloco_produtos_similares">
    <section>
        <p class="produtos_similares">Produtos similares</p>    
    </section> 
      
      <section class="conteiner">
          <main>
              <ul class="produtos">
                  <li>
                      <img src="/assets/consoles1.jpg">
                      <p>Produto XYZ</p>
                      <p><strong>R$ 60,00</strong></p>
                      <a href="url"><strong>Ver produto</strong></a>
                  </li>
                  <li>
                      <img src="/assets/produto2.jpg">
                      <p>Produto XYZ</p>
                      <p><strong>R$ 60,00</strong></p>
                      <a href="url"><strong>Ver produto</strong></a>
                  </li>
                  <li>
                      <img src="/assets/diversos3.jpg">
                      <p>Produto XYZ</p>
                      <p><strong>R$ 60,00</strong></p>
                      <a href="url"><strong>Ver produto</strong></a>
                  </li>
                  <li>
                      <img src="/assets/produto3.jpg">
                      <p>Produto XYZ</p>
                      <p><strong>R$ 60,00</strong></p>
                      <a href="url"><strong>Ver produto</strong></a>
                  </li>
                  <li>
                      <img src="/assets/produto5.jpg">
                      <p>Produto XYZ</p>
                      <p><strong>R$ 60,00</strong></p>
                      <a href="url"><strong>Ver produto</strong></a>
                  </li>
                  <li style="width: 176px;">
                      <img src="/assets/produto6.jpg">
                      <p>Produto XYZ</p>
                      <p><strong>R$ 60,00</strong></p>
                      <a href="url"><strong>Ver produto</strong></a>
                  </li>
              </ul>
          </main>
      </section>
</mat-toolbar>
<app-footer></app-footer>