<app-header></app-header>

<mat-toolbar class="bloco_login">
    <div class="login">
        <h1 class="login_text">Iniciar Sessão</h1>
          <form method="post">
              <input type="text" name="u" placeholder="Escreva seu e-mail" required="required" class="entrada_login" />
              <input type="password" name="p" placeholder="Escreva sua senha" required="required" class="entrada_senha" />
                <button mat-flat-button color="primary" class="login_button">Entrar</button>

          </form>
    </div>
</mat-toolbar>
<app-footer></app-footer>
