<mat-toolbar class="footer">
    <span>

        <form class="formulario">
            <fieldset style="border: 0px;">
                <input type="text" class="form_nome" id="exampleInputEmail1" placeholder="Nome">
            </fieldset>
            <fieldset style="border: 0px;">
                <textarea id="exampleMessage" class="form_mss" placeholder="Escreva sua mensagem"></textarea>
            </fieldset>
            <fieldset style="border: 0px;">
                <button mat-flat-button color="primary" class="form_button">Enviar mensagem</button>
            </fieldset>
        </form>

        <section class="logo_marca">
            <img src="/assets/logo.jpg" class="img_logo" alt="logo">
            <span class="text_logo"><strong><font color="#2A7AE4">Alura</font>Geek</strong></span>
        </section>

        <div class="lista_footer">
            <ul>
                <a href="url" class="lista_footer_01">
                    <li>
                        Quem somos nós
                    </li>
                </a>
                <a href="url" class="lista_footer_02">
                    <li>
                        Política de privacidade
                    </li>
                </a>
                <a href="url">
                    <li>
                        Programa fidelidade
                    </li> 
                </a>
                <a href="url">
                    <li>
                        Nossas lojas
                    </li>
                </a> 
                <a href="url">
                    <li>
                        Quero ser franqueado
                    </li>
                </a>
                <a href="url">
                    <li>
                        Anuncie aqui
                    </li>
                </a>
            </ul>
        </div>
    </span>
</mat-toolbar>

<p style="font-size: 16px; text-align: center; padding-top: 30px; margin-bottom: 0px;">Desenvolvido por Alexandre Lira</p>
<p style="font-size: 16px; text-align: center; padding-bottom: 30px;">2022</p>

